---
import DefaultLayout from "../layouts/DefaultLayout.astro"
import Component from "../components/Component.jsx"

const key = process.env.TOKEN
const cacheBuster = new Date().getMilliseconds()
const { story } = await fetch(`https://api.storyblok.com/v2/cdn/stories/home?token=${key}&cv=${cacheBuster}`)
	.then(response => response.json())

const posts = Astro.fetchContent("../pages/articles/*.md")
---
<DefaultLayout page={ story }>
  <div class="grid">
    {story.content.body.map(child => {
      return <Component blok={child} />
    })}
    <div class="grid--auto-responsive" style="margin-top: -16px">
      {posts.sort((a, b) => +new Date(b.date) - +new Date(a.date))
        .slice(0, 3).map(post => (
        <a href={post.url} class="card" style="text-decoration: none">
          <span style="padding-top: 75%; position: relative; display: grid">
            <img src={post.image.replace("public", "")} alt={post.alt} style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; height: 100%; width: 100%; object-fit: cover; object-position: top;" />
          </span>
          <span class="card__content">
            <div class="text">
              <span class="truncate h5">{post.title}</span>
              <span class="truncate small">{post.description}</span>
            </div>
          </span>
        </a>
      ))}
    </div>
    <div>
      <a href="/articles" class="button button--raised button--rounded">Read More</a>
    </div>
  </div>
</DefaultLayout>