---
import DefaultLayout from "../layouts/DefaultLayout.astro"
import Component from "../components/Component.jsx"

const key = process.env.TOKEN
const cacheBuster = new Date().getMilliseconds()
const { story } = await fetch(`https://api.storyblok.com/v2/cdn/stories/home?token=${key}&cv=${cacheBuster}`)
	.then(response => response.json())

const clientScript = (component, module = false) => {
  const body = JSON.stringify(story.content.body)
  const c = component.toLowerCase()
  const type = module ? 'module' : 'application/javascript'
  if (body.includes(`"component":"${component}"`)) {
    return (
      <script src={Astro.resolve(`../js/${c}.js`)} defer type={type}></script>
    )
  }
}
---
<DefaultLayout page={ story }>
  <main>
    <div class="grid">
      {story.content.body.map(child => {
        return <Component blok={child} />
      })}
    </div>
  </main>
  {clientScript('Dialog', true)}
  {clientScript('Form')}
  {clientScript('Tabs')}
  {clientScript('Video')}
</DefaultLayout>