---
const { global, page, content } = Astro.props

const globalTitle = global?.SEO.title
const globalDescription = global?.SEO?.description
const globalImage = global?.SEO_IMAGE?.filename
const pageTitle = page?.content?.SEO?.title || page?.name || content?.title
const pageDescription = page?.content.SEO?.description || content?.description
const pageImage = page?.content?.SEO_IMAGE?.filename || content?.image

const title = pageTitle && globalTitle 
	? `${pageTitle} | ${globalTitle}`
	: globalTitle || "No title!"
const description = pageDescription || globalDescription
const image = pageImage || globalImage
const favicon = global.favicon.filename || ""
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/x-icon" href={favicon} />
<link rel="stylesheet" href={Astro.resolve("../css/base.scss")} />

<!-- Primary Meta Tags -->
<title>{ title }</title>
<meta name="title" content={ title } />
<meta name="description" content={ description } />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:title" content={ title } />
<meta property="og:description" content={ description } />
<meta property="og:image" content={image} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:title" content={ title } />
<meta property="twitter:description" content={ description } />
<meta property="twitter:image" content={image} />

<!-- External -->
<link rel="preconnect" href="https://a.storyblok.com" />