---
import BaseHead from "../components/BaseHead.astro"
import PostHero from "../components/PostHero.astro"
import AppBar from "../components/AppBar"
import AppDrawer from "../components/AppDrawer"
import Component from "../components/Component"
import Theme from "../components/Theme"
import onClient from "../components/utils/onClient"
import "../css/base.scss"

// Fetch global content from Storyblok
const key = import.meta.env.PUBLIC_TOKEN
const cacheBuster = new Date().getMilliseconds()
const { story } = await fetch(`https://api.storyblok.com/v2/cdn/stories/settings?token=${key}&version=draft&cv=${cacheBuster}`)
  .then(response => response.json())
const global = story.content

// Handle page-level content
const { page, content } = Astro.props
const El = typeof content === "object" ? "article" : "main"
const bodyString = JSON.stringify(page?.content?.body) + JSON.stringify(global)
const scripts = onClient(bodyString)
---
<html lang="en">

  <head>
    <BaseHead global={ global } page={ page } content={content}/>
    <Theme global={ global }/>
  </head>

  <body class={ process.env.npm_lifecycle_script }>

    <AppDrawer global={ global }/>
    <AppBar global={ global }/>
    
    <El>
      {El === "article" && <PostHero content={content} />}
      <slot/>
      {El === "article" && global.blog_footer.map(content => (
        <Component blok={ content }/>
      ))}
    </El>

    {global.footer.map(content => (
      <Component blok={ content }/>
    ))}

    <!-- Load Images -->
    <script src="/js/images.js" inline></script>

    <!-- Deferred Crap like Fonts -->
    { global.custom_html }

    <!-- Component Scripts -->
    {scripts.map(s => (
        <script src={s.src} type="module" inline></script>
    ))}

    <!-- Settings Redirect -->
    <script>
      if (window.location.pathname === "/settings") {
        window.location.replace("http://localhost:3000")
      }
    </script>

    <!-- Instant.page -->
    <script
      src="https://instant.page/5.1.0"
      type="module"
      integrity="sha384-by67kQnR+pyfy8yWP4kPO12fHKRLHZPfEsiSXR8u2IKcTdxD805MGUXBzVPnkLHw"
      inline>
    </script>

  </body>

</html>

